* {

}
body {
  background-color: black;
  opacity: 0.9;
  color: seashell;
  font-family: helvetica;
  font-size: 22px;

}

header {
  color: seashell;
  font-family: helvetica;
  font-size: 22px;

}

.mission {

}

.month-image {
  height: 200px;
  width: 300px;
}

.location-image {
  height: 500px;
  width: 1200px;
}
